<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6 <%= @bodyId %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7 <%= @bodyId %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8 <%= @bodyId %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9 <%= @bodyId %>"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="<%= @bodyId %>"> <!--<![endif]-->
<head>
  <title>Alex&#8217;s &ndash; Tell Friends, Earn Alex's Goods</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="<%= asset_path('favicon.ico') %>" type="image/x-icon">
  <link rel="shortcut icon" href="<%= asset_path('favicon.ico') %>" type="image/x-icon">
  <link rel="stylesheet" href="https://use.typekit.net/kmj6ibq.css">
  <meta property="og:title" content="Alex is coming!"/>
  <meta property="og:description" content="Never Go Unprotected. Be the first to know"/>
  <meta property="og:image" content="<%= asset_path("home/logo.png") %>"/>
  <meta property="og:url" content="<%= root_url %>"/>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body id="<%= @bodyId %>">

<%= yield %>


</body>
</html>
